.categoryWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 15px;
    max-width: 1440px;
    margin: auto;
}
.toMainPageBtn{
    margin: 0 auto;
    font-size: 24px;
    text-align: center;
    padding: 15px 25px;
    min-width: 200px;
    color: gray;
    background: #f9cd4a;
    border-radius: 4px;
    border:1px #f9b538;
    visibility: visible;
    transition: .15s;
    box-shadow: 0 0 0 1px rgba(255,255,255,.1), 0 2px 4px 0 rgba(14,30,37,.12);
}
.toMainPageBtn a{
    text-decoration: none;
    color:white;
}
